@import url('https://fonts.googleapis.com/css2?family=Roboto&family=The+Nautigal&display=swap');


@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

@import './components/commonstyle';
@import './components/container';
@import './components/header';
@import './components/logo';
@import './components/menu';
@import './components/buttons';
@import './components/navigations';
@import './components/social-list';
@import './components/hero';
@import './components/backdrop&modal';
@import './components/form';
@import './components/gallery';


