@mixin transition ($property) {
   transition: $property $transition-duration $transition-timing-function; 
}
@mixin font ($font-size, $font-weight, $line-height, $letter-spacing) {
   font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
@mixin decotation ($value) {
text-decoration: $value;
}
@mixin animation ($declaration, $duration) {
animation: $declaration; 
animation-duration: $duration;
}
@mixin bodered ($color) {
   border: 1px solid $color;
   }