$main-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #231F20;
$accent-color: #F7941E;

  // Animation 
  $transition-duration: 300ms;
  $transition-timing-function: linear;
  // Breakpoints
  $mobile: 370px;
  $tablet: 768px;
  $desktop: 1440px;