<section class="best-blogs" id="blogs">
        <h2 class="section-title">Our Best Blogs Ever</h2>
    <p class="section__text">“Try our blog to find the best tips and tricks to select your gift”</p>
    <div class="blog__card">
    <img
        srcset="./images/blog-card.jpg 1x, ./images/blog-card@2x.jpg 2x"
        src="./images/blog-card.jpg"
        alt="boy-with-girl"
              />
    <article class="blog__article">
        <p class="author">Mr. John Doe</p>
        <h3 class="article__title--main">The best way to wish your wife</h3>
        <a href="" class="article__link">Read More</a>
    </article>
    </div>
    <ul class="blog__list">
    <li class="blog__item">
        <a href="" class="blog__link">
            <article class="article">
            <h3 class="article__title">Database to find the gifts for your girlfriend</h3>
            <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <p class="link-text">Read More</p>
        </article></a>
    </li> 
    <li class="blog__item">
        <a href="" class="blog__link">
            <article class="article">
            <h3 class="article__title">How Artificial Intelligence read your mind to find the best gift</h3>
            <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <p class="link-text">Read More</p>
        </article></a>
    </li>   
    </ul>
</section>