<section class="gallery">
<div class="container">
    <h2 class="section-title">Gifts for all Occasions</h2>
    <p class="gallery__text">“Try our web app to find the best gifts for all occasions”</p>
    <ul class="gallery__list">
        <li class="gallery__item">
            <img
              srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x"
              src="./images/birthday.jpg"
                alt="birthday-card"
              />
              <div class="gallery__thumb">
                <p class="gallery__description">Birthday</p>
                <a href="" class="link"></a>
              </div>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x"
              src="./images/birthday.jpg"
                alt="birthday-card"
              />
              <div class="gallery__thumb">
                <p class="gallery__description">Birthday</p>
                <a href="" class="link"></a>
              </div>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x"
              src="./images/birthday.jpg"
                alt="birthday-card"
              />
              <div class="gallery__thumb">
                <p class="gallery__description">Birthday</p>
                <a href="" class="link"></a>
              </div>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x"
              src="./images/birthday.jpg"
                alt="birthday-card"
              />
              <div class="gallery__thumb">
                <p class="gallery__description">Birthday</p>
                <a href="" class="link"></a>
              </div>
        </li>
    </ul>
</div>
</section>