<section class="gallery" id="about">
<div class="container">
    <h2 class="section-title">Gifts for all Occasions</h2>
    <p class="gallery__text">“Try our web app to find the best gifts for all occasions”</p>
    <ul class="gallery__list">
        <li class="gallery__item">
            <img
              srcset="./images/birthday.jpg 1x, ./images/birthday@2x.jpg 2x"
              src="./images/birthday.jpg"
                alt="birthday-card"
              /><a href="" class="gallery__link">
                <p class="gallery__description">Birthday</p>
                <p class="link-text">See More&#160;&rsaquo;</p>
              </a>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/anniversary.jpg 1x, ./images/anniversary@2x.jpg 2x"
              src="./images/anniversary.jpg"
                alt="anniversary-card"
              />
                <a href="" class="gallery__link">
                <p class="gallery__description">Anniversary</p>
                <p class="link-text">See More&#160;&rsaquo;</p></a>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/valentine's-day.jpg 1x, ./images/valentine's-day@2x.jpg 2x"
              src="./images/valentine's-day.jpg"
                alt="valentine's-day-card"
              />
                <a href="" class="gallery__link">
                <p class="gallery__description">Valentine's Day</p>
                <p class="link-text">See More&#160;&rsaquo;</p></a>
        </li>
        <li class="gallery__item">
            <img
              srcset="./images/christmas.jpg 1x, ./images/christmas@2x.jpg 2x"
              src="./images/christmas.jpg"
                alt="christmas-card"
              />
                <a href="" class="gallery__link">
                <p class="gallery__description">Christmas</p>
                <p class="link-text">See More&#160;&rsaquo;</p></a>
        </li>
    </ul>
</div>
</section>