<section class="hero">
    <div class="hero--text hero--top">
        <h1 class="hero__title">Find a gift for your wife or girlfriend</h1>
        <p class="hero__description">Struggling to find a gift for your wife or girlfriend?
            No problem!</p>
        <button class="primary-button primary-button--hero" type="submit">Find gift now</button>
    </div>
    <div class="hero--picture">
        <img
        srcset="./images/family.jpg 1x, ./images/family@2x.jpg 2x"
        src="./images/family.jpg"
        alt="Family"
        />
    </div>
    <div class="hero--picture">
        <img
        srcset="./images/thanks.jpg 1x, ./images/thanks@2x.jpg 2x"
        src="./images/thanks.jpg"
        alt="thanks"
        />
    </div>
    <div class="hero--text hero--bottom">
        <h2 class="section-title">How we work</h2>
        <p class="hero__description hero__description--bottom">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.</p>
        <button class="primary-button primary-button--hero primary-button--hero--light" type="submit">Learn More</button>
    </div>
</section>