.menu__button {
    @include transition (color);
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;
    padding: 0;
    border: none;
    background-color: transparent;
    &.is-open .icon-cross {
    display: block;
    }
    &.is-open .icon-menu {
    display: none;
    }
    & .icon-cross {
    display: none;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
    @media screen and (min-width:$tablet) {
    display: none;
    }
  }
  
  .primary-button {
   @include font (18px, 400, 1.22, 0.06em);
   @include bodered ($accent-color);
    @include transition (background-color);
    @include transition (color);
    @extend %flex-center-style;
      text-transform: uppercase;
      font-family: inherit;
      cursor: pointer;
      min-width: 140px;
      height: 39px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba($secondary-color, 0.25);
      padding: 0;
      margin: 0 auto;
      color: $accent-color;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $main-color;
        background-color: $accent-color;
    }
    }
    .primary-button--hero {
      @include transition (background-color);
    @include transition (color);
      min-width: 200px;
      height: 60px;
      color: $main-color;
      background-color: $accent-color; 
      @media screen and (min-width:$desktop) {
      margin: 0; 
      }
      &:hover,
      &:focus {
        color: $accent-color;
        background-color: $main-color;
    }
    }
    .primary-button--hero--light {
      @include transition (background-color);
    @include transition (color);
      color: $accent-color;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $main-color;
        background-color: $accent-color;
    }
    }
    .close-btn {
      @include transition (color);
      @include transition (border);
      @include bodered (rgba($secondary-color, 0.1));
      @extend %flex-center-style;
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;
      &:hover,
      &:focus {
      color: $accent-color;
      border: 1px solid $accent-color;
    }
    }
    .close-btn__icon {
      fill: currentColor;
    }
    .appeal__button--dark {
      @include transition (background-color);
    @include transition (color);
      @include bodered ($secondary-color);
      min-width: 200px;
      height: 48px;
      color: $main-color;
      background-color: $secondary-color; 
      margin: 0 16px 0 0; 
      @media screen and (max-width:479px) {
        margin: 0 auto 16px; 
      }
    }
    .appeal__button--light {
      @include transition (border-color);
    @include transition (color);
      @include bodered ($secondary-color);
      min-width: 200px;
      height: 48px;
      color: $secondary-color; 
      background-color: transparent; 
      margin: 0; 
      &:hover,
      &:focus {
        color: $secondary-color;
        border-color: $main-color;
    }
      @media screen and (max-width:479px) {
        margin: 0 auto; 
      }
    }