.gallery {
    padding: 96px 0 137px;
    text-align: center
}

.gallery__list {
display: flex;
justify-content: center;
flex-wrap: wrap;
@media screen and (min-width: $tablet) {
    margin: -15px;  
}
}
.gallery__item {
max-width: 270px;
&:not(:last-child) {
@media screen and (max-width: 767px) {
margin-bottom: 30px; 
}
}
@media screen and (min-width: $tablet) {
    margin: 15px;  
}
}

.gallery__description {
@include font (20px, 400, 1.2, 0.02em);
margin-bottom: 74px;
}
.gallery__link {
display: block;
@include decoration (none);
@include transition (background-color);
color: currentColor;
text-align: left;
padding: 24px;
background-color: $main-shadow-color;
&:hover, &:focus {
    background-color: $main-color;
    box-shadow: 0px 4px 4px rgba($secondary-color, 0.25);
}
}
