.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  border-bottom: 1px solid rgba($tertiary-color, 0.25);
  background-color: $main-color;
}
.header__nav {
    display: flex;
    align-items: center;
 justify-content: space-between;
}