.header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
  background-image: linear-gradient(to bottom,  $main-color, transparent);
 
}
.header__nav {
    display: flex;
    align-items: center;
 justify-content: space-between;
}