.logo {
  font-family: 'The Nautigal', cursive;
    @include font (26px, 400, 1.17, 0.01em);
    @include decotation (none);
    color: currentColor;
    padding: 19px 0;
    &:hover, &:focus, &:active {
      color: $accent-color;
      }
    @media screen and (min-width:$tablet) {
      @include font (30px, 400, 1.17, 0.01em);
        padding: 39px 0;
      }
}