.menu__container {
    @media screen and (max-width:767px) {
    @include transition (transform);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $primary-color;
    transform: translateX(100%);
    &.is-open {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    }
    }
    
    @media screen and (min-width:$tablet) {
    width: 100%;
    display: flex;
    align-items: center;
    }
}