.menu {
    @media screen and (max-width:767px) {
      @include transition (visibility);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    }
    @media screen and (min-width:$tablet) {
      position: static;
      z-index: 2;
    margin-left: 110px;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    @media screen and (min-width:$desktop) {
    margin-left: 430px;
    }
}
.connect {
    display: flex;
    flex-direction: column;
}