.menu__container {
    @media screen and (max-width:767px) {
    @include transition (transform);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: $main-color;
    transform: translateX(100%);
    &.is-open {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    justify-content: space-between;
    }
    }
    @media screen and (min-width:$tablet) {
    margin-left: 110px;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    @media screen and (min-width:$desktop) {
    margin-left: 430px;
    }
}
.connect {
    display: flex;
    flex-direction: column;
}